h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
   
    color: rgb(3, 3, 3);
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(30, 15, 247);
    

}


p{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: larger;
font-size: 20px;
color: rgb(17, 16, 16);
text-align: justify;
font-weight: bold

}
h3{ font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(226, 11, 11);

}
footer{
    background-color: rgb(151, 193, 228);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
   font-size: 15px;
    
}
.r:hover{
    background-color: brown;
}

.menu{
	list-style: none;
	padding: 0;
	background: blue;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
	
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: green;
}
