h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
   
    color: rgb(3, 3, 3); }
    p{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: larger;
font-size: 20px;
color: rgb(17, 16, 16);
text-align: justify;

}
footer{
    background-color: rgb(151, 193, 228);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
   font-size: 15px;
    
}
.r:hover{
    background-color: chartreuse;
}

